<!DOCTYPE html>
<html>
<head>
    <title>SDSS Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home">

    <div class="hero">
        <h1>Welcome to SDSS ML Web Application</h1>

        <div class="links">
            <a href="/scenario/1">Galaxy Morphology Classification</a>
            <a href="/scenario/2">Galaxy Redshift Estimation</a>
            <a href="/scenario/3">AGN Identification</a>
        </div>
    </div>

</body>

</html>
